<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('捐赠记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>捐赠者编号：</label>
                                <input type="text" name="userId"/>
                            </li>
                            <li>
                                <label>捐赠者：</label>
                                <input type="text" name="userName"/>
                            </li>

                            <li>
                                <label>捐赠数量：</label>
                                <input type="text" name="jzNum"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:jz:add">
                    <i class="fa fa-plus"></i> 添加
                </a>

                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:jz:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:jz:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:jz:remove')}]];
        var prefix = ctx + "system/jz";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "捐赠记录",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'userId',
                    title: '捐赠者编号'
                },
                {
                    field: 'userName',
                    title: '捐赠者'
                },
                {
                    field: 'wzName',
                    title: '物资'
                },
                {
                    field: 'jzNum',
                    title: '捐赠数量'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
